<!DOCTYPE html>
<html>
<head>
    <title>Aggiungi regista</title>
    <link rel="stylesheet" href="/css/stileSfondo.css?version=2"/>
    <link rel="stylesheet" href="/css/stileHeader.css?version=2"/>
    <link rel="stylesheet" href="/css/stileIndex.css?version=2"/>
    <!--- Per l'icona --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<header>
    <div th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
    </div>
    <a href="/admin/manageMovie" class="freccia-indietro">
        <i class="fas fa-arrow-left"></i>
        Torna indietro
    </a>
</header>

<div><img src="/images/logo-siw.png" width="40%" class="center-image"/></div>

<div class="box-container">

    <div class="container">
      <!--- ATTORI FILM --->
      <h1>Attori aggiunti:</h1>
      <div th:if="${movieActors.isEmpty()}">Non ci sono attori inseriti</div>
      <ul>
        <li th:each="movieActor : ${movieActors}">
          <a th:text="${movieActor.nome} + ' ' + ${movieActor.cognome}">Nome Cognome</a>
          <a th:href="@{'/admin/removeActorFromMovie/' + ${movieActor.id} + '/' + ${movie.id}}">Rimuovi</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <!--- ATTORI FILM AGGIUNGIBILI--->
      <h1>Attori non aggiunti:</h1>
      <div th:if="${notMovieActors.isEmpty()}">Non ci sono attori da inserire</div>
      <ul>
        <li th:each="notMovieActor : ${notMovieActors}">
          <a th:text="${notMovieActor.nome} + ' ' + ${notMovieActor.cognome}">Nome Cognome</a>
          <a th:href="@{'/admin/addActorToMovie/' + ${notMovieActor.id} + '/' + ${movie.id}}">Aggiungi</a>
        </li>
      </ul>
    </div>
</div>
</body>
</html>